/* VerifiableCredentialForm.module.css */


  
  .form {
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .textField {
    margin-bottom: 16px;
  }
  
  .button {
    background-color: #00796b;
    &:hover {
      background-color: #005a4f;
    }
  }
  
  .headline {
    color: #d32f2f;
  }
  
  